@model IEnumerable<QLHS.Models.ViPham>

@{
    ViewBag.Title = "Danh Sách Vi Phạm";
    Layout = "~/Views/Shared/_LayoutMainGV.cshtml";
}
<section id="main-content">
    <section class="wrapper">
        <h2>Danh Sách Vi Phạm</h2>
        @using (Html.BeginForm("DanhSachViPham_GV", "ViPham", FormMethod.Get))
        {
            <div class="form-group form-inline">
                <h4> Tìm học sinh: @Html.TextBox("SearchString", "", new { @class = "form-control" })  <input type="submit" class="btn btn-default" value="Tìm" /> </h4>
            </div>
            <table class="table">
                <tr>
                    <th style="color: black">
                        <span>Mã Vi Phạm</span>
                    </th>
                    <th style="color: black">
                        <span>Lỗi Vi Phạm</span>
                    </th>
                    <th style="color: black">
                        <span>Mã Học Sinh</span>
                    </th>
                    <th style="color: black">
                        <span>Tên Học Sinh</span>
                    </th>
                    <th style="color: black">
                        <span>Mức Độ</span>
                    </th>
                    <th style="color: black">
                        <span>Người Ghi Nhận</span>
                    </th>
                    <th style="color: black">
                        <span>Ngày Ghi Nhận</span>
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="color: black">
                            @Html.DisplayFor(modelItem => item.MaVP)
                        </td>
                        <td style="color: black">
                            @Html.DisplayFor(modelItem => item.LoiVP)
                        </td>
                        <td style="color: black">
                            @Html.DisplayFor(modelItem => item.MaHS)
                        </td>
                        <td style="color: black">
                            @Html.DisplayFor(modelItem => item.TenHS)
                        </td>
                        <td style="color: black">
                            @Html.DisplayFor(modelItem => item.MucDo)
                        </td>
                        <td style="color: black">
                            @Html.DisplayFor(modelItem => item.TenNguoiGhiNhan)
                        </td>
                        <td style="color: black">
                            @Html.DisplayFor(modelItem => item.Ngay)
                        </td>
                    </tr>
                }

            </table>
        }
    </section>
</section>