@model QLHS.Models.ViPham

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Views/Shared/_LayoutMainAdmin.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <section class="w3l-hotair-form">
            <div class="container">
                <!-- /form -->
                <div class="workinghny-form-grid">
                    @using (Html.BeginForm())
                    {
                        <div class="main-hotair">
                            <div class="content-wthree">
                                @Html.AntiForgeryToken()
                                <h3>Xóa vi phạm</h3>
                                <form action="#" method="post">
                                    <div class="user-detail">
                                        <div class="input-box">
                                            <span class="detail">Mã Vi Phạm: @Html.DisplayFor(model => model.MaVP)</span>
                                        </div>
                                        <h1></h1>
                                        <div class="input-box">
                                            <span class="detail">Mã Học Sinh: @Html.DisplayFor(model => model.MaHS)</span>
                                            <h1></h1>
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">Lỗi Vi Phạm: @Html.DisplayFor(model => model.LoiVP)</span>
                                            <h1></h1>
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">Mức Độ: @Html.DisplayFor(model => model.MucDo)</span>
                                            <h1></h1>
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">Người Ghi Nhận: @Html.DisplayFor(model => model.NguoiGhiNhan)</span>
                                            <h1></h1>
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">Ngày Ghi Nhận: @Html.DisplayFor(model => model.Ngay)</span>
                                            <h1></h1>
                                        </div>
                                    </div>
                                    <button class="btn" type="submit">Xóa</button>
                                    <h1></h1>
                                    <div>
                                        @Html.ActionLink("Trở về", "DanhSachViPham")
                                    </div>
                                </form>
                            </div>
                            <div class="w3l_form align-self">
                                <div class="left_grid_info">
                                    <img src="~/images/1.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- //form -->
            </div>
        </section>
    </section>
</section>