@model QLHS.Models.HocSinh

@{
    ViewBag.Title = "Chi Tiết";
    Layout = "~/Views/Shared/_LayoutMainAdmin.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <section class="w3l-hotair-form">
            <div class="container">
                <!-- /form -->
                <div class="workinghny-form-grid">
                    @using (Html.BeginForm())
                    {
                        <div class="main-hotair">
                            <div class="content-wthree">
                                @Html.AntiForgeryToken()
                                <h3>Chi tiết học sinh</h3>
                                <form action="#" method="post">
                                    <div class="user-detail">
                                        <div class="input-box">
                                            <span class="detail">Mã Học Sinh: <span id="MaHS">@Html.DisplayFor(model => model.MaHS)</span></span>
                                        </div>
                                        <h1></h1>
                                        <div class="input-box">
                                            <span class="detail">Tên lớp: @Html.DisplayFor(model => model.HoTen)</span>
                                            <h1></h1>
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">Lớp: @Html.DisplayFor(model => model.Lop)</span>
                                            <h1></h1>
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">Giới Tính: @Html.DisplayFor(model => model.GioiTinh)</span>
                                            <h1></h1>
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">Ngày Sinh: @Html.DisplayFor(model => model.NgaySinh)</span>
                                            <h1></h1>
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">Địa Chỉ: @Html.DisplayFor(model => model.DiaChi)</span>
                                            <h1></h1>
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">Khóa: @Html.DisplayFor(model => model.Khoa)</span>
                                            <h1></h1>
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">Họ Tên Cha: @Html.DisplayFor(model => model.HoTenCha)</span>
                                            <h1></h1>
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">Họ Tên Mẹ: @Html.DisplayFor(model => model.HoTenMe)</span>
                                            <h1></h1>
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">SĐT: @Html.DisplayFor(model => model.SDT)</span>
                                            <h1></h1>
                                        </div>
                                        <div class="input-box">
                                            <span class="detail">Mật Khẩu: @Html.DisplayFor(model => model.MATKHAU)</span>
                                            <h1></h1>
                                        </div>
                                    </div>
                                    <button onclick="NavigateBack(events); return false;" class="btn">Trở về</button>
                                    <h1></h1>
                                    <button onclick="NavigateToEdit('@Model.MaHS'); return false;" class="btn">Cập nhật</button>
                                </form>
                            </div>
                            <div class="w3l_form align-self">
                                <div class="left_grid_info">
                                    <img src="~/images/1.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- //form -->
            </div>
        </section>
    </section>
</section>

<script>
    function NavigateToEdit(id_student) {
        window.location.href = '@Url.Action("ChinhSua", "HocSinh")' + '/' + id_student;
    }

    function NavigateBack(events) {
        events.preventDefault();
        window.location.href = '@Url.Action("DanhSachHocSinh", "HocSinh")';
    }
</script>